@import '../../styles/global.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 90%;

    &__titulo {
        font-size: .8rem;
        font-weight: 700;
    }

    &__input {
        padding: .5rem;
        outline: none;
        border: none;
        border-bottom: 2px solid $cor-primaria;
        width: 100%;
    }
}